.size-auto,
.size-full,
.size-large,
.size-medium,
.size-thumbnail,
.alignnone,
.wp-caption,
img {
  max-width: 100%;
  height: auto;
}

.entry-content .wp-caption,
.widget .wp-caption,
.gallery-item {
  background-color: var(--color-text);
  max-width: calc(100% - 1em);
  border-radius: 0.25em;  
  padding: .5em;
}

.entry-content .wp-caption img,
.widget .wp-caption img,
.gallery-item img {
  padding: 0;
  max-width: 100%;
}

.wp-caption,
.gallery-item {
  color: var(--color-bg);
}

.wp-block-image figcaption {
  color: var(--color-text);
}

.wp-caption {
  a {
    text-decoration: underline;
    &::after {
      display: none;
    }
  }
}

.wp-caption-text {
  font-style: italic;
  text-shadow: none;
  margin: .5em 0 0;

  a {
    color: var(--color-bg);
  }
}

figure {
  margin: 1em 0;
}

img {
  vertical-align: bottom;
}

iframe,
embed,
object {
  max-width: 100%;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, auto));
  grid-gap: 1em;
  max-width: 1024px;
}

.gallery-columns-1 {
  grid-template-columns: minmax(0, 1fr);
}

.gallery-item {
  margin: 0;
}

iframe,
embed,
object,
twitter-widget {
  text-shadow: none;
}

@media (min-width: 768px) {
  .gallery {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .gallery-columns-1 {
    grid-template-columns: minmax(0, 1fr);
  }

  .gallery-columns-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .gallery-columns-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .gallery-columns-4 {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }

  .gallery-columns-5 {
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }

  .gallery-columns-6 {
    grid-template-columns: repeat(6, minmax(0, 1fr));
  }

  .gallery-columns-7 {
    grid-template-columns: repeat(7, minmax(0, 1fr));
  }

  .gallery-columns-8 {
    grid-template-columns: repeat(8, minmax(0, 1fr));
  }

  .gallery-columns-9 {
    grid-template-columns: repeat(9, minmax(0, 1fr));
  }

  .gallery-columns-10 {
    grid-template-columns: repeat(10, minmax(0, 1fr));
  }
}